<div class="navbar-inner">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only"><%- t('core', 'NAVBAR:TOGGLE') %></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand fa fa-lightbulb-o" href="#"></a>
  </div>
  <div class="collapse navbar-collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#"><%- t('core', 'NAVBAR:DASHBOARD') %></a>
      <li data-online data-privilege="EVENTS:VIEW"><a href="#events"><%- t('core', 'NAVBAR:EVENTS') %></a>
      <li data-online data-privilege="TESTS:VIEW"><a href="#tests"><%- t('core', 'NAVBAR:TESTS') %></a>
      <li data-online data-privilege="PROGRAMS:VIEW"><a href="#programs"><%- t('core', 'NAVBAR:PROGRAMS') %></a>
      <li data-online data-privilege="USERS:VIEW"><a href="#users"><%- t('core', 'NAVBAR:USERS') %></a>
      <li data-online data-privilege="DIAGNOSTICS:MANAGE" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#diagnostics">
          <%- t('core', 'NAVBAR:DIAGNOSTICS') %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#diagnostics/tags"><%- t('core', 'NAVBAR:DIAGNOSTICS:TAGS') %></a>
        </ul>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown navbar-account-dropdown">
        <a href="#account" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-user fa-lg navbar-account-status"></i>
          <%- user.getLabel() %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li data-online><a href="#users/<%- user.data._id %>"><%- t('core', 'NAVBAR:MY_ACCOUNT') %></a>
          <li class="divider">
          <li data-loggedin="false"><a class="navbar-account-logIn" href="#login"><%- t('core', 'NAVBAR:LOG_IN') %></a>
          <li data-loggedin><a class="navbar-account-logOut" href="/logout"><%- t('core', 'NAVBAR:LOG_OUT') %></a>
        </ul>
      </li>
    </ul>
  </div>
</div>
