<form method="post" action="/programs;assign" autocomplete="off">
  <div class="form-group">
    <label for="<%- idPrefix %>-30s" class="control-label"><%- t('programs', 'assignPrograms:30s') %></label>
    <input id="<%- idPrefix %>-30s" type="text" name="30s" value="<%- program30s %>" placeholder="<%- t('programs', 'assignPrograms:placeholder') %>">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-hrs" class="control-label"><%- t('programs', 'assignPrograms:hrs') %></label>
    <input id="<%- idPrefix %>-hrs" type="text" name="hrs" value="<%- programHrs %>" placeholder="<%- t('programs', 'assignPrograms:placeholder') %>">
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary"><%- t('programs', 'assignPrograms:submit') %></button>
  </div>
</form>
