<div class="panel panel-primary programs-details">
  <div class="panel-heading">
    <%- t('programs', 'PANEL:TITLE:details') %>
  </div>
  <% if (model.kind === 'tester') { %>
  <div class="panel-details">
    <div class="props first">
      <div class="prop">
        <div class="prop-name"><%- t('programs', 'PROPERTY:name') %></div>
        <div class="prop-value"><%= model.name %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('programs', 'PROPERTY:kind') %></div>
        <div class="prop-value"><%- t('programs', 'kind:' + model.kind) %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('programs', 'PROPERTY:interlock') %></div>
        <div class="prop-value"><%- t('programs', 'interlock:' + model.interlock) %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('programs', 'PROPERTY:contactors') %></div>
        <div class="prop-value">
          <% [4, 5, 6, 7, 8, 9, 10].forEach(function(i) { %>
          <span class="label label-<%- model['contactor' + i] ? 'success' : 'danger' %>"><%- t('programs', 'PROPERTY:contactor' + i) %></span>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
  <% } else { %>
  <div class="panel-details row">
    <div class="col-md-3">
      <div class="props first">
        <div class="prop">
          <div class="prop-name"><%- t('programs', 'PROPERTY:name') %></div>
          <div class="prop-value"><%= model.name %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('programs', 'PROPERTY:kind') %></div>
          <div class="prop-value"><%- t('programs', 'kind:' + model.kind) %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('programs', 'PROPERTY:lightSourceType') %></div>
          <div class="prop-value"><%- t('programs', 'lightSourceType:' + model.lightSourceType) %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('programs', 'PROPERTY:bulbPower') %></div>
          <div class="prop-value"><%- t('programs', 'bulbPower:' + model.bulbPower) %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('programs', 'PROPERTY:ballast') %></div>
          <div class="prop-value"><%- t('programs', 'ballast:' + model.ballast) %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('programs', 'PROPERTY:ignitron') %></div>
          <div class="prop-value"><%- t('programs', 'ignitron:' + model.ignitron) %></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="props">
        <div class="prop">
          <div class="prop-name"><%- t('programs', 'PROPERTY:waitForStartTime') %></div>
          <div class="prop-value"><%- time.toString(model.waitForStartTime) %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('programs', 'PROPERTY:illuminationTime') %></div>
          <div class="prop-value"><%- time.toString(model.illuminationTime) %></div>
        </div>
        <% if (model.kind === 'hrs') { %>
        <div class="prop">
          <div class="prop-name"><%- t('programs', 'PROPERTY:hrsInterval') %></div>
          <div class="prop-value"><%- time.toString(model.hrsInterval) %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('programs', 'PROPERTY:hrsTime') %></div>
          <div class="prop-value"><%- time.toString(model.hrsTime) %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('programs', 'PROPERTY:hrsCount') %></div>
          <div class="prop-value"><%- model.hrsCount %></div>
        </div>
        <% } %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="props">
        <div class="prop">
          <div class="prop-name"><%- t('programs', 'PROPERTY:limitSwitch') %></div>
          <div class="prop-value"><%- t('core', 'BOOL:' + model.limitSwitch) %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('programs', 'PROPERTY:lightSensors') %></div>
          <div class="prop-value"><%- t('programs', 'lightSensors:' + model.lightSensors) %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('programs', 'PROPERTY:interlock') %></div>
          <div class="prop-value"><%- t('programs', 'interlock:' + model.interlock) %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('programs', 'PROPERTY:contactors') %></div>
          <div class="prop-value">
            <% contactors.forEach(function(contactor) { %>
            <span class="label label-<%- model[contactor] ? 'success' : 'danger' %>"><%- t('programs', 'PROPERTY:' + contactor) %></span>
            <% }) %>
          </div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('programs', 'PROPERTY:currentBoundries') %></div>
          <div class="prop-value">
          <% if (model.minCurrent === 0 && model.maxCurrent === 0) { %>
          <%- t('programs', 'current:noBoundries') %>
          <% } else { %>
          <%- t('programs', 'current:boundries', {min: model.minCurrent, max: model.maxCurrent}) %>
          <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>
