<form class="programs-form" method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="<%- idPrefix %>-name" class="control-label"><%- t('programs', 'PROPERTY:name') %></label>
        <input id="<%- idPrefix %>-name" class="form-control" type="text" name="name" required autofocus maxlength="150">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-kind" class="control-label"><%- t('programs', 'PROPERTY:kind') %></label>
        <select id="<%- idPrefix %>-kind" name="kind">
          <% kinds.forEach(function(kind) { %>
          <option value="<%- kind %>"><%- t('programs', 'kind:' + kind) %></option>
          <% }) %>
        </select>
      </div>
      <div class="row programs-form-choices">
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-lightSourceType" class="control-label"><%- t('programs', 'PROPERTY:lightSourceType') %></label>
          <select id="<%- idPrefix %>-lightSourceType" name="lightSourceType">
            <% lightSourceTypes.forEach(function(lightSourceType) { %>
            <option value="<%- lightSourceType %>"><%- t('programs', 'lightSourceType:' + lightSourceType) %></option>
            <% }) %>
          </select>
        </div>
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-bulbPower" class="control-label"><%- t('programs', 'PROPERTY:bulbPower') %></label>
          <select id="<%- idPrefix %>-bulbPower" name="bulbPower">
            <% bulbPowers.forEach(function(bulbPower) { %>
            <option value="<%- bulbPower %>"><%- t('programs', 'bulbPower:' + bulbPower) %></option>
            <% }) %>
          </select>
        </div>
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-ballast" class="control-label"><%- t('programs', 'PROPERTY:ballast') %></label>
          <select id="<%- idPrefix %>-ballast" name="ballast">
            <% ballasts.forEach(function(ballast) { %>
            <option value="<%- ballast %>"><%- t('programs', 'ballast:' + ballast) %></option>
            <% }) %>
          </select>
        </div>
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-ignitron" class="control-label"><%- t('programs', 'PROPERTY:ignitron') %></label>
          <select id="<%- idPrefix %>-ignitron" name="ignitron">
            <% ignitrons.forEach(function(ignitron) { %>
            <option value="<%- ignitron %>"><%- t('programs', 'ignitron:' + ignitron) %></option>
            <% }) %>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="<%- idPrefix %>-waitForStartTime" class="control-label"><%- t('programs', 'PROPERTY:waitForStartTime') %></label>
          <input id="<%- idPrefix %>-waitForStartTime" class="form-control programs-form-time" type="text" name="waitForStartTime" required>
        </div>
        <div class="col-md-6 form-group">
          <label for="<%- idPrefix %>-illuminationTime" class="control-label"><%- t('programs', 'PROPERTY:illuminationTime') %></label>
          <input id="<%- idPrefix %>-illuminationTime" class="form-control programs-form-time" type="text" name="illuminationTime">
        </div>
      </div>
      <div id="<%- idPrefix %>-hrs" class="row">
        <div class="col-md-4 form-group">
          <label for="<%- idPrefix %>-hrsInterval" class="control-label"><%- t('programs', 'PROPERTY:hrsInterval') %></label>
          <input id="<%- idPrefix %>-hrsInterval" class="form-control programs-form-time" type="text" name="hrsInterval" required>
        </div>
        <div class="col-md-4 form-group">
          <label for="<%- idPrefix %>-hrsTime" class="control-label"><%- t('programs', 'PROPERTY:hrsTime') %></label>
          <input id="<%- idPrefix %>-hrsTime" class="form-control programs-form-time" type="text" name="hrsTime">
        </div>
        <div class="col-md-4 form-group">
          <label for="<%- idPrefix %>-hrsCount" class="control-label"><%- t('programs', 'PROPERTY:hrsCount') %></label>
          <input id="<%- idPrefix %>-hrsCount" class="form-control" type="number" name="hrsCount">
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 form-group">
          <label for="<%- idPrefix %>-lightSensors" class="control-label"><%- t('programs', 'PROPERTY:lightSensors') %></label>
          <div class="radio">
            <label><input id="<%- idPrefix %>-lightSensors" type="radio" name="lightSensors" value="1"> <%- t('programs', 'lightSensors:1') %></label>
          </div>
          <div class="radio">
            <label><input type="radio" name="lightSensors" value="2"> <%- t('programs', 'lightSensors:2') %></label>
          </div>
        </div>
        <div class="col-md-2 form-group">
          <label for="<%- idPrefix %>-interlock" class="control-label"><%- t('programs', 'PROPERTY:interlock') %></label>
          <div class="radio">
            <label><input id="<%- idPrefix %>-interlock" type="radio" name="interlock" value="1"> <%- t('programs', 'interlock:1') %></label>
          </div>
          <div class="radio">
            <label><input id="<%- idPrefix %>-interlock" type="radio" name="interlock" value="1+2"> <%- t('programs', 'interlock:1+2') %></label>
          </div>
          <div class="radio">
            <label><input id="<%- idPrefix %>-interlock" type="radio" name="interlock" value="mnh"> <%- t('programs', 'interlock:mnh') %></label>
          </div>
        </div>
        <div class="col-md-2 form-group">
          <label class="control-label"><%- t('programs', 'PROPERTY:contactors') %></label>
          <div class="checkbox">
            <label><input type="checkbox" name="contactor4"> <%- t('programs', 'PROPERTY:contactor4') %></label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="contactor5"> <%- t('programs', 'PROPERTY:contactor5') %></label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="contactor6"> <%- t('programs', 'PROPERTY:contactor6') %></label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="contactor7"> <%- t('programs', 'PROPERTY:contactor7') %></label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="contactor8"> <%- t('programs', 'PROPERTY:contactor8') %></label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="contactor9"> <%- t('programs', 'PROPERTY:contactor9') %></label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="contactor10"> <%- t('programs', 'PROPERTY:contactor10') %></label>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
