<div class="programs-image">
  <p class="programs-image-label"><%= image.label %></p>
  <img src="/programs/<%- programId %>/images/<%- image._id %>.<%- image.type %>" alt="<%= image.label %>">
</div>
