<div>
  <div id="<%- idPrefix %>-program" class="currentProgram-container"></div>
  <div id="<%- idPrefix %>-state" class="currentState-container"></div>
  <% if (local) { %>
  <div class="dashboard-cameraAndTasks">
    <div id="<%- idPrefix %>-camera" class="dashboard-camera-container"></div>
    <div style="flex: 1 1 auto">
      <h1><%- helpers.t('tests:title') %></h1>
      <div id="<%- idPrefix %>-tests" class="dashboard-tests-container"></div>
    </div>
  </div>
  <% } else { %>
  <h1><%- helpers.t('tests:title') %></h1>
  <div id="<%- idPrefix %>-tests" class="dashboard-tests-container"></div>
  <% } %>
</div>
