<div class="panel panel-<%- model.result ? 'success' : 'danger' %> tests-details">
  <div class="panel-heading">
    <%- t('tests', 'PANEL:TITLE:details') %>
  </div>
  <div class="panel-details row">
    <div class="col-md-6">
      <div class="props first">
        <div class="prop">
          <div class="prop-name"><%- t('programs', 'PROPERTY:name') %></div>
          <div class="prop-value"><%= model.program.name %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('tests', 'PROPERTY:startedAt') %></div>
          <div class="prop-value"><%= model.startedAt %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('tests', 'PROPERTY:finishedAt') %></div>
          <div class="prop-value"><%= model.finishedAt %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('tests', 'PROPERTY:duration') %></div>
          <div class="prop-value"><%= model.duration %></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="props">
        <div class="prop">
          <div class="prop-name"><%- t('tests', 'PROPERTY:result') %></div>
          <div class="prop-value"><%- t('tests', 'result:' + !!model.result) %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('tests', 'PROPERTY:timePassed') %></div>
          <div class="prop-value"><i class="fa fa-thumbs-o-<%- model.timePassed ? 'up' : 'down' %>"></i></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('tests', 'PROPERTY:lightPassed') %></div>
          <div class="prop-value"><i class="fa fa-thumbs-o-<%- model.lightPassed ? 'up' : 'down' %>"></i></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('tests', 'PROPERTY:currentPassed') %></div>
          <div class="prop-value"><i class="fa fa-thumbs-o-<%- model.currentPassed ? 'up' : 'down' %>"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
