<div class="well">
  <form id="<%- idPrefix %>-form" class="filter-form">
    <div class="form-group">
      <label for="<%- idPrefix %>-from"><%- t('tests', 'FILTER:DATE:FROM') %></label>
      <input id="<%- idPrefix %>-from" class="form-control" name="from" type="text" placeholder="YYYY-MM-DD hh:mm:ss">
    </div><div
      class="form-group">
      <label for="<%- idPrefix %>-to"><%- t('tests', 'FILTER:DATE:TO') %></label>
      <input id="<%- idPrefix %>-to" class="form-control" name="to" type="text" placeholder="YYYY-MM-DD hh:mm:ss">
    </div><div
      class="form-group">
      <label for="<%- idPrefix %>-program"><%- t('tests', 'PROPERTY:program') %></label>
      <input id="<%- idPrefix %>-program" name="program" type="hidden" data-placeholder="<%= t('tests', 'FILTER:PLACEHOLDER:program') %>">
    </div><div
      class="form-group">
      <label for="<%- idPrefix %>-limit"><%- t('tests', 'FILTER:LIMIT') %></label>
      <input id="<%- idPrefix %>-limit" class="form-control" name="limit" type="number" value="25" min="5" max="100" step="1">
    </div><div
      class="form-group">
      <label><%- t('tests', 'PROPERTY:result') %></label>
      <div class="btn-group filter-btn-group" data-toggle="buttons-checkbox">
        <button class="btn btn-success tests-filter-form-result" type="button" value="true">&nbsp;</button>
        <button class="btn btn-danger tests-filter-form-result" type="button" value="false">&nbsp;</button>
      </div>
    </div><div
      class="form-group filter-actions">
      <input type="submit" class="btn btn-primary" value="<%= t('tests', 'FILTER:BUTTON') %>">
    </div>
  </form>
</div>
